@import url('./base.css');

@media only screen and (max-width: 600px) {
.about-text {
    display: none;
    position: absolute;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 120px;
    height: 40px;
    background-color: var(--bg-color);
    border-radius: 30px;
  }
.about-image{
    width: 100%;
    height: 400px;
}


.education-container{
    display: flex;
    flex-direction: column;
    margin-top: 10%;
    gap: 30px;
}

.education-container h2{
    margin-left: 2.5%;
}

.eductation-wrapper{
    display: flex;
    width: 100%;
    
}

.first-orientation-title{
    font-size: 4vw;
}

.second-orientation-title{
    font-size: 4vw;
}

.third-orientation-title{
    font-size: 4vw;
}

.left-wrapper{
    display: flex;
    flex-direction: column;
    margin-right: auto;
    font-size: 3.5vw;
    width: 100%;
    margin-left: 1.5%;
    color: var(--main-text-color);
    gap: 2px;
}

.right-wrapper{
    display: flex;
    flex-direction: column;
    margin-left: auto;
    font-size: 3.5vw;
    width: 100%;
    margin-right: 1.5%;
    color: var(--main-text-color);
    gap: 2px;
}

.first-type-title, .second-type-title, .third-type-title{
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 30px;
    border-radius: 20px;
    color: #00a110;
background-color: #D7FFE0;
overflow: hidden;
font-size: 3vw;
}

.first-date-title, .second-date-title, .third-date-title{
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    align-items: center;
    justify-content: center;
}

.job-container{
    display: flex;
    flex-direction: column;
    margin-top: 10%;
    gap: 30px;
}

.job-container h2{
    margin-left: 2.5%;
}

.job-wrapper{
    display: flex;
    width: 100%;
    
}

.first-joborientation-title{
    font-size: 4vw;
}

.second-joborientation-title{
    font-size: 4vw;
}

.third-joborientation-title{
    font-size: 4vw;
}

.left-wrapper{
    display: flex;
    flex-direction: column;
    margin-right: auto;
    font-size: 3.5vw;
    width: 100%;
    margin-left: 1.5%;
    color: var(--main-text-color);
    gap: 2px;
}

.right-wrapper{
    display: flex;
    flex-direction: column;
    margin-left: auto;
    font-size: 3.5vw;
    width: 100%;
    margin-right: 1.5%;
    color: var(--main-text-color);
    gap: 2px;
}

.first-jobtype-title, .second-jobtype-title, .third-jobtype-title{
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 30px;
    border-radius: 20px;
    color: #00a110;
background-color: #D7FFE0;
overflow: hidden;
font-size: 3vw;
}

.first-jobdate-title, .second-jobdate-title, .third-jobdate-title{
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    align-items: center;
}

.lineDivider{
    border: 1px solid #dadada;
width: 90%;
margin-left: 4%;
}

}

@media only screen and (min-width: 601px) and (max-width: 1199px) {
    .about-text {
        display: none;
        position: absolute;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 120px;
        height: 40px;
        background-color: var(--bg-color);
        border-radius: 30px;
      }
    .about-image{
        width: 100%;
        height: 400px;
    }
    
    
    .education-container{
        display: flex;
        flex-direction: column;
        margin-top: 10%;
        gap: 30px;
    }
    
    .education-container h2{
        margin-left: 2.5%;
        font-size: 3.5vw;
    }
    
    .eductation-wrapper{
        display: flex;
        width: 100%;
        
    }
    
    .first-orientation-title, .second-orientation-title, .third-orientation-title{
        font-size: 2.5vw;
        width: 500px;
    }

    .first-education-title, .second-education-title, .third-education-title{
        font-size: 1.5vw;
    }

    .first-location-title, .second-location-title, .third-location-title{
        font-size: 1.5vw;
    }

    .first-date-title, .second-date-title, .third-date-title{
        font-size: 1.5vw;
    }
    
    
    .left-wrapper{
        display: flex;
        flex-direction: column;
        margin-right: auto;
        font-size: 3.5vw;
        width: 100%;
        margin-left: 1.5%;
        color: var(--main-text-color);
        gap: 2px;
    }
    
    .right-wrapper{
        display: flex;
        flex-direction: column;
        margin-left: auto;
        font-size: 3.5vw;
        width: 100%;
        margin-right: 1.5%;
        color: var(--main-text-color);
        gap: 2px;
    }
    
    .first-type-title, .second-type-title, .third-type-title{
        display: flex;
        flex-direction: column;
        align-self: flex-end;
        align-items: center;
        justify-content: center;
        width: 30%;
        height: 30px;
        border-radius: 20px;
        color: #00a110;
    background-color: #D7FFE0;
    overflow: hidden;
    font-size: 2.5vw;
    }
    
    .first-date-title, .second-date-title, .third-date-title{
        display: flex;
        flex-direction: column;
        align-self: flex-end;
        align-items: center;
        justify-content: center;
    }
    
    .job-container{
        display: flex;
        flex-direction: column;
        margin-top: 10%;
        gap: 30px;
    }
    
    .job-container h2{
        margin-left: 2.5%;
        font-size: 3.5vw;
    }
    
    .job-wrapper{
        display: flex;
        width: 100%;
        
    }
    
    .first-joborientation-title{
        font-size: 2.5vw;
    }
    
    .second-joborientation-title{
        font-size: 2.5vw;
    }
    
    .third-joborientation-title{
        font-size: 2.5vw;
    }

    .first-company-title, .second-company-title, .third-company-title{
        font-size: 1.5vw;
    }

    .first-joblocation-title, .second-joblocation-title, .third-joblocation-title{
        font-size: 1.5vw;
    }

    .first-jobdate-title, .second-jobdate-title, .third-jobdate-title{
        font-size: 1.5vw;
    }
    
    .left-wrapper{
        display: flex;
        flex-direction: column;
        margin-right: auto;
        font-size: 3.5vw;
        width: 100%;
        margin-left: 1.5%;
        color: var(--main-text-color);
        gap: 2px;
    }
    
    .right-wrapper{
        display: flex;
        flex-direction: column;
        margin-left: auto;
        font-size: 3.5vw;
        width: 100%;
        margin-right: 1.5%;
        color: var(--main-text-color);
        gap: 2px;
    }
    
    .first-jobtype-title, .second-jobtype-title, .third-jobtype-title{
        display: flex;
        flex-direction: column;
        align-self: flex-end;
        align-items: center;
        justify-content: center;
        width: 30%;
        height: 30px;
        border-radius: 20px;
        color: #00a110;
    background-color: #D7FFE0;
    overflow: hidden;
    font-size: 2.5vw;
    }
    
    .first-jobdate-title, .second-jobdate-title, .third-jobdate-title{
        display: flex;
        flex-direction: column;
        align-self: flex-end;
        align-items: center;
    }
    
    .lineDivider{
        border: 1px solid #dadada;
    width: 90%;
    margin-left: 4%;
    }

}

@media only screen and (min-width: 1200px) {
    .about-text {
        display: none;
        position: absolute;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 120px;
        height: 40px;
        background-color: var(--bg-color);
        border-radius: 30px;
      }
    .about-image{
        width: 100%;
        height: 400px;
    }
    
    
    .education-container{
        display: flex;
        flex-direction: column;
        align-self: center;
        margin-top: 3%;
        gap: 30px;
        width: 60%;
    }
    
    .education-container h2{
        font-size: 2.5vw;
    }
    
    .eductation-wrapper{
        display: flex;
        width: 100%;
        
    }
    
    .first-orientation-title, .second-orientation-title, .third-orientation-title{
        font-size: 1.5vw;
        width: 500px;
    }

    .first-education-title, .second-education-title, .third-education-title{
        font-size: 1vw;
    }

    .first-location-title, .second-location-title, .third-location-title{
        font-size: 1vw;
    }

    .first-date-title, .second-date-title, .third-date-title{
        font-size: 1vw;
    }
    
    
    .left-wrapper{
        display: flex;
        flex-direction: column;
        margin-right: auto;
        font-size: 3.5vw;
        width: 100%;
        margin-left: 1.5%;
        color: var(--main-text-color);
        gap: 2px;
    }
    
    .right-wrapper{
        display: flex;
        flex-direction: column;
        margin-left: auto;
        font-size: 3.5vw;
        width: 100%;
        margin-right: 1.5%;
        color: var(--main-text-color);
        gap: 2px;
    }
    
    .first-type-title, .second-type-title, .third-type-title{
        display: flex;
        flex-direction: column;
        align-self: flex-end;
        align-items: center;
        justify-content: center;
        width: 30%;
        height: 30px;
        border-radius: 20px;
        color: #00a110;
    background-color: #D7FFE0;
    overflow: hidden;
    font-size: 1vw;
    }
    
    .first-date-title, .second-date-title, .third-date-title{
        display: flex;
        flex-direction: column;
        align-self: flex-end;
        align-items: center;
        justify-content: center;
    }
    
    .job-container{
        display: flex;
        flex-direction: column;
        align-self: center;
        margin-top: 5%;
        margin-bottom: 5%;
        gap: 30px;
        width: 60%;
    }
    
    .job-container h2{
        font-size: 2.5vw;
    }
    
    .job-wrapper{
        display: flex;
        width: 100%;
        
    }
    
    .first-joborientation-title{
        font-size: 1.5vw;
    }
    
    .second-joborientation-title{
        font-size: 1.5vw;
    }
    
    .third-joborientation-title{
        font-size: 1.5vw;
    }

    .first-company-title, .second-company-title, .third-company-title{
        font-size: 1vw;
    }

    .first-joblocation-title, .second-joblocation-title, .third-joblocation-title{
        font-size: 1vw;
    }

    .first-jobdate-title, .second-jobdate-title, .third-jobdate-title{
        font-size: 1vw;
    }
    
    .left-wrapper{
        display: flex;
        flex-direction: column;
        margin-right: auto;
        font-size: 3.5vw;
        width: 100%;
        margin-left: 1.5%;
        color: var(--main-text-color);
        gap: 2px;
    }
    
    .right-wrapper{
        display: flex;
        flex-direction: column;
        margin-left: auto;
        font-size: 3.5vw;
        width: 100%;
        margin-right: 1.5%;
        color: var(--main-text-color);
        gap: 2px;
    }
    
    .first-jobtype-title, .second-jobtype-title, .third-jobtype-title{
        display: flex;
        flex-direction: column;
        align-self: flex-end;
        align-items: center;
        justify-content: center;
        width: 30%;
        height: 30px;
        border-radius: 20px;
        color: #00a110;
    background-color: #D7FFE0;
    overflow: hidden;
    font-size: 1vw;
    }
    
    .first-jobdate-title, .second-jobdate-title, .third-jobdate-title{
        display: flex;
        flex-direction: column;
        align-self: flex-end;
        align-items: center;
    }
    
    .lineDivider{
        border: 1px solid #dadada;
    width: 100%;
    }
}