@import url('./base.css');

*{
    margin: 0;
    padding: 0;
}

@media only screen and (max-width: 600px) {

.loader {
  display: flex;
  align-self: center;
  margin-top: 40%;
    width: 50px;
    padding: 8px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: #25b09b;
    --_m: 
      conic-gradient(#0000 10%,#000),
      linear-gradient(#000 0 0) content-box;
    -webkit-mask: var(--_m);
            mask: var(--_m);
    -webkit-mask-composite: source-out;
            mask-composite: subtract;
    animation: l3 1s infinite linear;
  }
  @keyframes l3 {to{transform: rotate(1turn)}}

    .close-modal{
        position: absolute;
        left: 90%;
        top: 1%;
        margin-left: auto;
        display: inline-block;
        width: 15px;
        height: 15px;
        border: 7px solid var(--main-text-color);
        background:
            linear-gradient(45deg, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 43%,#fff 45%,#fff 55%,rgba(0,0,0,0) 57%,rgba(0,0,0,0) 100%),
            linear-gradient(135deg, var(--main-text-color) 0%,var(--main-text-color) 43%,#fff 45%,#fff 55%,var(--main-text-color) 57%,var(--main-text-color) 100%);
    }

    .projects-parent-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

.projects-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 5%;
    margin-bottom: 30px;
    width: 100%;
}

.first-project{
    margin-top: 2%;
}

.projects-container article{
    position: relative;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    width: 250px;
    height: 280px;
    -webkit-box-shadow: var(--main-shadow);
    -moz-box-shadow: var(--main-shadow);
    box-shadow: var(--main-shadow);
}

.projects-container article h3{
    margin-top: 10%;
    text-align: center;
    color: #253d2c;
}

.project-thumbnail{
    width: 100%;
    object-fit: cover;
}

.more-info-button{
    position: absolute;
    background-color: #253d2c;
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    bottom: 0px;
}

.more-info-button p{
    
    color: white;
}


.projects-modal{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0,0,0,0.4);
}

.projects-modal-content {
    position: relative;
    border-radius: 15px;
    background-color: #fefefe;
  margin: 15% auto;
  padding-right: 20px;
  padding-left: 20px;
  border: 1px solid #888;
  width: 80%; 
  height: 300px;
  text-align: center;
  color: #253d2c;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.projects-modal-content h2{
    margin-top: 1%;
}

.projects-modal-content p {
    margin-bottom: 2%;
}

.projects-modal-image{
    width: 100%;
   width: 80%;
   margin-bottom: 1%;
   -webkit-box-shadow: var(--main-shadow);
   -moz-box-shadow: var(--main-shadow);
   box-shadow: var(--main-shadow);
}
}

@media only screen and (min-width: 601px) and (max-width: 1199px) {

    .loader {
        display: flex;
        align-self: center;
        margin-top: 40%;
          width: 50px;
          padding: 8px;
          aspect-ratio: 1;
          border-radius: 50%;
          background: #25b09b;
          --_m: 
            conic-gradient(#0000 10%,#000),
            linear-gradient(#000 0 0) content-box;
          -webkit-mask: var(--_m);
                  mask: var(--_m);
          -webkit-mask-composite: source-out;
                  mask-composite: subtract;
          animation: l3 1s infinite linear;
        }
        @keyframes l3 {to{transform: rotate(1turn)}}

    .close-modal{
        position: absolute;
        left: 94%;
        top: 1%;
        margin-left: auto;
        display: inline-block;
        width: 30px;
        height: 30px;
        border: 7px solid var(--main-text-color);
        background:
            linear-gradient(45deg, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 43%,#fff 45%,#fff 55%,rgba(0,0,0,0) 57%,rgba(0,0,0,0) 100%),
            linear-gradient(135deg, var(--main-text-color) 0%,var(--main-text-color) 43%,#fff 45%,#fff 55%,var(--main-text-color) 57%,var(--main-text-color) 100%);
    }
    
    .projects-parent-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .projects-container{
        display: grid;
        grid-template-columns: 280px 280px;
        grid-template-rows: 300px 300px;
        gap: 30px;
        overflow: hidden;
        margin-top: 5%;
        align-items: center;
        justify-items: center;
    }

    .first-project{
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 1;
        grid-row-end: 1;
    }

    .second-project{
        grid-column-start:2;
        grid-column-end: 2;
    }

    .third-project{
        grid-column-start:1;
        grid-column-end: 1;
        grid-row-start: 2;
    }

    .fourth-project{
        grid-column-start:2;
        grid-column-end: 2;
        grid-row-start: 2;
    }
    
    .projects-container article{
        position: relative;
        background-color: white;
        border-radius: 10px;
        overflow: hidden;
        width: 250px;
        height: 280px;
        -webkit-box-shadow: var(--main-shadow);
        -moz-box-shadow: var(--main-shadow);
        box-shadow: var(--main-shadow);
    }
    
    .projects-container article h3{
        margin-top: 10%;
        text-align: center;
        color: #253d2c;
    }
    
    .project-thumbnail{
        width: 100%;
        object-fit: cover;
    }
    
    .more-info-button{
        position: absolute;
        background-color: #253d2c;
        width: 100%;
        height: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        bottom: 0px;
    }
    
    .more-info-button p{
        
        color: white;
    }
    
    
    .projects-modal{
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgb(0, 0, 0);
        background-color: rgba(0,0,0,0.4);
    }
    
    .projects-modal-content {
        position: relative;
        border-radius: 15px;
        background-color: #fefefe;
      margin: 5% auto;
      padding: 20px;
      border: 1px solid #888;
      width: 80%; 
      height: 500px;
      text-align: center;
      color: #253d2c;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    
    .projects-modal-content h2{
        margin-top: 1%;
    }
    
    .projects-modal-content p {
        margin-bottom: 2%;
    }
    
    .projects-modal-image{
        width: 100%;
       width: 80%;
       margin-bottom: 1%;
       -webkit-box-shadow: var(--main-shadow);
       -moz-box-shadow: var(--main-shadow);
       box-shadow: var(--main-shadow);
    }
}

@media only screen and (min-width: 1200px) {

    .loader {
        display: flex;
        align-self: center;
        margin-top: 10%;
          width: 50px;
          padding: 8px;
          aspect-ratio: 1;
          border-radius: 50%;
          background: #25b09b;
          --_m: 
            conic-gradient(#0000 10%,#000),
            linear-gradient(#000 0 0) content-box;
          -webkit-mask: var(--_m);
                  mask: var(--_m);
          -webkit-mask-composite: source-out;
                  mask-composite: subtract;
          animation: l3 1s infinite linear;
        }
        @keyframes l3 {to{transform: rotate(1turn)}}
    .close-modal{
        position: absolute;
        left: 96.5%;
        top: 1%;
        margin-left: auto;
        display: inline-block;
        width: 30px;
        height: 30px;
        border: 7px solid var(--main-text-color);
        background:
            linear-gradient(45deg, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 43%,#fff 45%,#fff 55%,rgba(0,0,0,0) 57%,rgba(0,0,0,0) 100%),
            linear-gradient(135deg, var(--main-text-color) 0%,var(--main-text-color) 43%,#fff 45%,#fff 55%,var(--main-text-color) 57%,var(--main-text-color) 100%);
    }

    .projects-parent-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .projects-parent-container h2{
        font-size: 2vw;
        margin-top: 2%;
    }
    
    .projects-container{
        display: grid;
        grid-template-columns: 450px 450px;
        grid-template-rows: 350px 350px;
        gap: 30px;
        overflow: hidden;
        margin-top: 2%;
        align-items: center;
        justify-items: center;
        margin-bottom: 10%;
    }

    .first-project{
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 1;
        grid-row-end: 1;
        
    }

    .second-project{
        grid-column-start:2;
        grid-column-end: 2;
    }

    .third-project{
        grid-column-start:1;
        grid-column-end: 1;
        grid-row-start: 2;
    }

    .fourth-project{
        grid-column-start:2;
        grid-column-end: 2;
        grid-row-start: 2;
    }
    
    .projects-container article{
        position: relative;
        background-color: white;
        border-radius: 10px;
        overflow: hidden;
        width: 350px;
        height: 300px;
        -webkit-box-shadow: var(--main-shadow);
        -moz-box-shadow: var(--main-shadow);
        box-shadow: var(--main-shadow);
    }
    
    .projects-container article h3{
        margin-top: 10%;
        text-align: center;
        color: #253d2c;
    }
    
    .project-thumbnail{
        width: 100%;
        object-fit: cover;
    }
    
    .more-info-button{
        position: absolute;
        background-color: #253d2c;
        width: 100%;
        height: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        bottom: 0px;
    }
    
    .more-info-button p{
        
        color: white;
    }
    
    
    .projects-modal{
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgb(0, 0, 0);
        background-color: rgba(0,0,0,0.4);
    }
    
    .projects-modal-content {
        position: relative;
        border-radius: 15px;
        background-color: #fefefe;
      margin: 5% auto;
      padding: 20px;
      border: 1px solid #888;
      width: 80%; 
      height: 700px;
      text-align: center;
      color: #253d2c;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    
    .projects-modal-content h2{
        margin-top: 1%;
    }

    .projects-modal-content p {
        margin-bottom: 2%;
    }
    
    .projects-modal-image{
        width: 100%;
       width: 80%;
       margin-bottom: 1%;
       -webkit-box-shadow: var(--main-shadow);
       -moz-box-shadow: var(--main-shadow);
       box-shadow: var(--main-shadow);
    }
}