@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('./base.css');
*{
    margin: var(--standard-margin);
    padding: var(--standard-padding);;
    overflow-x: hidden;
}

body{
    position: var(--main-body-position);
    font-family: "Poppins", sans-serif;
    color: var(--main-text-color);
    min-height: var(--main-body-vh);
    background-color: var(--bg-color);
}

@media only screen and (max-width: 600px) {
    .header-container{
        display: flex;
        flex-direction: column;
        background-color: var(--header-bg-color);
        width: 100%;
    }

    .header-container h2{
        position: absolute;
        margin-top: 10px;
        left: 30%;
        text-align: center;
    }


    .header-container nav{
       display: flex;
       flex-direction: row;
       width: 100%;
    }

    .header-container nav ul{
        display: none;
        flex-direction: column;
        position: absolute;
        text-align: right;
        gap: 1rem;
        color: white;
        font-size: 1em;
        margin-bottom: 10px;
        padding-bottom: 15px;
        margin-top: 12%;
        z-index: 1;
        background-color: var(--header-bg-color);
        width: 100%;
        animation-name: menuGrowth;
    animation-duration: 0.12s;
    animation-timing-function: linear;
    }

    @keyframes menuGrowth {
        0%   {
            transform: scaleY(0.25) scaleX(0.25);
        }
        25%  {
            transform: scaleY(0.5) scaleX(0.5);
        }
        50%  {
            transform: scaleY(0.75) scaleX(75);
        }
        100% {
            transform: scaleY(1) scaleX(1);
        }
      }

      @keyframes menuShrink {
        0%   {
            transform: scaleY(1) scaleX(1);
        }
        25%  {
            transform: scaleY(0.75) scaleX(0.75);
        }
        50%  {
            transform: scaleY(0.5) scaleX(0.5);
        }
        100% {
            transform: scaleY(0) scaleX(0);
        }
      }

    .header-container nav ul li a{
      text-decoration: none;
      color: var(--main-text-color);
      margin-right: 2.5%;
    }

    .profile-image-container{
        display: flex;
        margin-right: auto;
        margin-top: 1%;
    }


    .profile-image{
        width: 55px;
        height: 55px;
        filter: invert(17%) sepia(28%) saturate(627%) hue-rotate(85deg) brightness(99%) contrast(89%);
    }
     
    .lampButton{
        position: absolute;
        margin-top: 0.2%;
    }

    .turnedOff{
        width: 55px;
        height: 55px;
    }

    .turnedOn{
        width: 55px;
        height: 55px;
    }

    .burger-menu-container{
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin-left: auto;
        margin-right: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .burger-item{
        border: 2px solid var(--main-text-color);
        width: 45px;
    }

    .close-menu{
        margin-left: auto;
        overflow: hidden;
        width: 45px;
        height: 35px;
        border: 12px solid var(--bg-color);
        background:
            linear-gradient(45deg, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 43%,var(--main-text-color) 45%,var(--main-text-color) 55%,rgba(0,0,0,0) 57%,rgba(0,0,0,0) 100%),
            linear-gradient(135deg, var(--bg-color) 0%, var(--bg-color) 43%,var(--main-text-color) 45%,var(--main-text-color) 55%,var(--bg-color) 57%,var(--bg-color) 100%);
    }

    .main-container{
        display: flex;
        flex-direction: column;
        margin-top: 10px;
    }

    .welcome-container{
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-top: 20%;
        margin-bottom: 30px;
    }

    .first-image-container{
        position: relative;
        text-align: center;
        color: black;
        font-size: 0.8rem;
        text-align: center;
    }

    .home-text {
        display: flex;
        position: relative;
        align-self: center;
        flex-direction: column;
        text-align: left;
        width: 80%;
        margin-top: 10%;
        font-size: 6.5vw;
        color: var(--main-text-color);
      }

    .home-image{
        width: 300px;
        border-radius: 50%;
    }
    .second-image-container{
        position: relative;
        text-align: center;
        color: black;
        font-size: 0.8rem;
        text-align: center;
    }

    

    .footer-container{
        display: flex;
        justify-content: center;
        text-align: center;
        position: absolute;
        bottom: 0px;
        color: var(--main-text-color);
        font-size: 3.5vw;
        width: 100%;
    }
    .footer-container p{
       text-align: center;
    }

    


} 

@media only screen and (min-width: 601px) and (max-width: 1199px) {

    .header-container{
        display: flex;
        flex-direction: column;
        background-color: var(--header-bg-color);
        width: 100%;
    }

    .header-container h2{
        position: absolute;
        margin-top: 10px;
        left: 30%;
        text-align: center;
    }


    .header-container nav{
       display: flex;
       flex-direction: row;
       width: 100%;
    }

    .header-container nav ul{
        display: none;
        flex-direction: column;
        position: absolute;
        text-align: center;
        gap: 1rem;
        color: white;
        font-size: 1em;
        margin-bottom: 10px;
        margin-top: 7%;
        z-index: 1;
        background-color: var(--header-bg-color);
        width: 100%;
        animation-name: menuGrowth;
    animation-duration: 0.12s;
    animation-timing-function: linear;
    }

    @keyframes menuGrowth {
        0%   {
            transform: scaleY(0.25) scaleX(0.25);
        }
        25%  {
            transform: scaleY(0.5) scaleX(0.5);
        }
        50%  {
            transform: scaleY(0.75) scaleX(75);
        }
        100% {
            transform: scaleY(1) scaleX(1);
        }
      }

      @keyframes menuShrink {
        0%   {
            transform: scaleY(1) scaleX(1);
        }
        25%  {
            transform: scaleY(0.75) scaleX(0.75);
        }
        50%  {
            transform: scaleY(0.5) scaleX(0.5);
        }
        100% {
            transform: scaleY(0) scaleX(0);
        }
      }

   
      .header-container nav ul li a{
        text-decoration: none;
        color: var(--main-text-color);
        margin-right: 2.5%;
      }

    .profile-image-container{
        display: flex;
        margin-right: auto;
        margin-top: 1%;
    }


    .profile-image{
        width: 55px;
        height: 55px;
        filter: invert(17%) sepia(28%) saturate(627%) hue-rotate(85deg) brightness(99%) contrast(89%);
    }
     
    .lampButton{
        position: absolute;
        margin-top: 0.2%;
    }

    .turnedOff{
        width: 55px;
        height: 55px;
    }

    .turnedOn{
        width: 55px;
        height: 55px;
    }

    .burger-menu-container{
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin-left: auto;
        margin-right: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .burger-item{
        border: 2px solid var(--main-text-color);
        width: 45px;
    }

    .burger-item{
        border: 2px solid var(--main-text-color);
        width: 45px;
    }

    .close-menu{
        margin-left: auto;
        overflow: hidden;
        width: 45px;
        height: 35px;
        border: 12px solid var(--bg-color);
        background:
            linear-gradient(45deg, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 43%,var(--main-text-color) 45%,var(--main-text-color) 55%,rgba(0,0,0,0) 57%,rgba(0,0,0,0) 100%),
            linear-gradient(135deg, var(--bg-color) 0%, var(--bg-color) 43%,var(--main-text-color) 45%,var(--main-text-color) 55%,var(--bg-color) 57%,var(--bg-color) 100%);
    }
    .main-container{
        display: flex;
        flex-direction: column;
        margin-top: 10px;
    }

    .welcome-container{
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-top: 10%;
        margin-bottom: 30px;
    }

    .first-image-container{
        position: relative;
        text-align: center;
        color: black;
        font-size: 0.8rem;
        text-align: center;
    }

    .home-text {
        display: flex;
        position: relative;
        align-self: center;
        flex-direction: column;
        text-align: center;
        width: 80%;
        margin-top: 2%;
        font-size: 3.5vw;
        color: var(--main-text-color);
      }

    .home-image{
        width: 300px;
        border-radius: 50%;
    }
    .second-image-container{
        position: relative;
        text-align: center;
        color: black;
        font-size: 0.8rem;
        text-align: center;
    }

    

    .footer-container{
        display: flex;
        justify-content: center;
        text-align: center;
        position: absolute;
        bottom: 0px;
        color: var(--main-text-color);
        font-size: 2.5vw;
        width: 100%;
    }
    .footer-container p{
       text-align: center;
    }

    

} 

@media only screen and (min-width: 1200px) {
    .header-container{
        display: flex;
        flex-direction: column;
        background-color: var(--header-bg-color);
        width: 100%;
    }

    .header-container h2{
        position: absolute;
        margin-top: 10px;
        left: 30%;
        text-align: center;
    }


    .header-container nav{
       display: flex;
       flex-direction: row;
       width: 100%;
    }

    .header-container nav ul{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
        color: var(--main-text-color);
        font-size: 1em;
        margin-right: 5%;
    }

    .header-container nav ul li a{
      text-decoration: none;
      color: var(--main-text-color);
    }

    .profile-image-container{
        display: flex;
        margin-right: auto;
        margin-top: 0.1%;
    }


    .profile-image{
        width: 55px;
        height: 55px;
        filter: invert(17%) sepia(28%) saturate(627%) hue-rotate(85deg) brightness(99%) contrast(89%);
    }
     
    .lampButton{
        position: absolute;
        margin-top: 0.2%;
       left: 98%;
       transform: translate(-50%,0)
    }

    .turnedOff{
        width: 55px;
        height: 55px;
    }

    .turnedOn{
        width: 55px;
        height: 55px;
    }

    .burger-menu-container{
        display: none;
        flex-direction: column;
        gap: 12px;
        margin-left: auto;
        margin-right: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .burger-item{
        border: 2px solid var(--main-text-color);
        width: 25px;
    }

    .main-container{
        display: flex;
        flex-direction: column;
        margin-top: 10px;
    }

    .welcome-container{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 100px;
        margin-top: 10%;
        margin-bottom: 30px;
    }

    .first-image-container{
        position: relative;
        text-align: center;
        color: black;
        font-size: 0.8rem;
        text-align: center;
    }

    .home-text {
        display: flex;
        position: relative;
        align-self: center;
        flex-direction: column;
        text-align: center;
        width: 50%;
        margin-top: 2%;
        font-size: 2.5vw;
        color: var(--main-text-color);
      }

    .home-image{
        width: 300px;
        border-radius: 50%;
    }
    .second-image-container{
        position: relative;
        text-align: center;
        color: black;
        font-size: 0.8rem;
        text-align: center;
    }

    

    .footer-container{
        display: flex;
        justify-content: center;
        text-align: center;
        position: absolute;
        bottom: 0px;
        color: var(--main-text-color);
        font-size: 1.5vw;
        width: 100%;
    }
    .footer-container p{
       text-align: center;
    }

    
}