
@media only screen and (max-width: 600px) {
.tech-titles{
    text-align: center;
    font-size: 5vw;
    margin-top: 5%;
}

.code-circle{
    display: flex;
    width: 220px;
    height: 220px;
    border-radius: 50%;
    margin-top: 5%;
    background-image: conic-gradient(
        #ff6347 90deg,
        #264de4 90deg 150deg,
        #f0db4f 150deg 230deg,
        #3c873a 230deg 270deg,
        #59287a 270deg 300deg,
        #7c40ff 300deg 340deg,
        #8993be 0

    );
}

.code-circle::before{
    content: "";
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background-color: #fff;
}

.code-circle{
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
}

.code-part-container{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    width: 100%;
}

.code-part-container div{
    padding: 0 10px;
}

.code-part-container p{
    font-size: 2.8vw;
    color: #253d2c;
}

.code-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.code-part1{
    background-color: #ff6347;
    width: 5px;
    height: 20px;
}

.code-part2{
    background-color: #264de4;
    width: 5px;
    height: 20px;
}

.code-part3{
    background-color: #f0db4f;
    width: 5px;
    height: 20px;
}

.code-part4{
    background-color: #3c873a;
    width: 5px;
    height: 20px;
}

.code-part5{
    background-color: #59287a;
    width: 5px;
    height: 20px;
}

.code-part6{
    background-color: #7c40ff;
    width: 5px;
    height: 20px;
}

.code-part7{
    background-color: #8993be;
    width: 5px;
    height: 20px;
}


.tech-circle{
    display: flex;
    width: 220px;
    height: 220px;
    border-radius: 50%;
    margin-top: 5% ;
    background-image: conic-gradient(
        #28282B 45deg,
        #0078d7 45deg 150deg,
        #f34f29 150deg 230deg,
        #382653 230deg 290deg,
        #0096FF 290deg 320deg,
        #cb3837 320deg 340deg,
        #FFBF00 0

    );
}

.tech-circle::before{
    content: "";
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background-color: #fff;
}

.tech-circle{
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
}

.tech-part-container{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    width: 100%;
}

.tech-part-container div{
    padding: 0 10px;
}

.tech-part-container p{
    font-size: 2.8vw;
    color: #253d2c;
}

.tech-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tech-part1{
    background-color: #28282B;
    width: 5px;
    height: 20px;
}

.tech-part2{
    background-color: #0078d7;
    width: 5px;
    height: 20px;
}

.tech-part3{
    background-color:  #f34f29;
    width: 5px;
    height: 20px;
}

.tech-part4{
    background-color: #382653;
    width: 5px;
    height: 20px;
}

.tech-part5{
    background-color: #0096FF ;
    width: 5px;
    height: 20px;
}

.tech-part6{
    background-color: #cb3837;
    width: 5px;
    height: 20px;
}

.tech-part7{
    background-color: #FFBF00;
    width: 5px;
    height: 20px;
}

}
